<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<head>
	<link rel="stylesheet" th:href="@{/css/custom_center.css}" href="../static/css/custom_center.css">
</head>

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />
	<h3 th:text="#{title.holiday.list}">Holiday List Page</h3>

	<a th:href="@{/admin/holiday/create}" class="button">Add Holiday</a>

	<div th:if="${not #lists.isEmpty(holidayList)}">
		<table>
			<tr>
				<th><span th:text="#{fieldLabel.holidayId}"></span></th>
				<th><span th:text="#{fieldLabel.holidayName}"></span></th>
				<th><span th:text="#{fieldLabel.holidayDesc}"></span></th>
				<th><span th:text="#{fieldLabel.fromDate}"></span></th>
				<th><span th:text="#{fieldLabel.toDate}"></span></th>
				<th><span th:text="#{caption.edit}"></span></th>
				<th><span th:text="#{caption.delete}"></span></th>
			</tr>
			<tr th:each="holiday : ${holidayList}">
				<td align="left" th:text="${holiday.holidayId}">Id</td>
				<td align="left" th:text="${holiday.name}">Name</td>
				<td align="left" th:text="${holiday.description}">Description</td>
				<td align="left" th:text="${#temporals.format(holiday.fromDate, 'yyyy-MM-dd')}">From</td>
				<td align="left" th:text="${#temporals.format(holiday.toDate, 'yyyy-MM-dd')}">To</td>
				<td><a th:href="@{/admin/holiday/edit/}+${holiday.holidayId}" class="button">
						<span th:text="#{caption.edit}"></span></a></td>
				<td><a th:href="@{/admin/holiday/delete/}+${holiday.holidayId}" class="button">
						<span th:text="#{caption.delete}"></span></a></td>
			</tr>
		</table>
	</div>
</body>

</html>